{% extends "growers/base.html" %}

{% block title %}
Dashboard - Home
{% endblock %}


{% block content %}
<h1 class="page-header">Growers Database</h1>

Please select a Province to view its Districts


<h2 class="sub-header">Provinces</h2>
{% if provinces %}

<table class="table table-bordered">
{% for province in provinces %}
<tr><td><a href="{% url 'province-view' province.id  %}">
{{ province.name }}</a></td></tr>

{% endfor %}

</table>

{% else %}
<p>
There are no provinces...
</p>


{% endif %}


{% endblock %}
